name: Build (Nobara)

on:
    workflow_dispatch:
    push:

jobs:
    build-rpm:
        runs-on: ubuntu-latest

        container:
            image: fedora:latest

        steps:
            - name: Checkout sources
              uses: actions/checkout@v4

            - name: Create rpbuild user
              run: |
                  useradd -m rpmbuild
                  chown -vR rpmbuild .

            - name: Dependencies
              run: |
                  dnf -y builddep nobara/kernel.spec
            - name: build
              run: |
                  rpmbuild -ba nobara/kernel.spec
